.table-wrapper {
  max-height: 60vh;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 transparent;
}

.table-wrapper thead th {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}

.table-wrapper::-webkit-scrollbar {
  width: 8px;
}

.table-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 8px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}